@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --card-height: 697px;
  --card-width: 450px;
  --card-content-width: 354px;
}

body {
  margin: 0;
  background-color: #e0e8ff;
  font-family: 'Red Hat Display', sans-serif;
}

.order-summary-page {
  display: flex;
  overflow: auto;
  height: 97vh;
  align-items: center;
  justify-content: center;
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  text-align: center;
}

.card-image {
  border-radius: 20px 20px 0 0;
  width: var(--card-width);
  height: auto;
}

.title {
  margin-top: 45px;
  font-weight: 900;
  font-size: 28px;
  color: #1f2e55;
}

.description {
  color: #717fa6;
  width: var(--card-content-width);
  margin: 17px auto 0 auto;
}

.product {
  width: var(--card-content-width);
  height: 98px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f9ff;
  border-radius: 11px;
}

.product-detail-container {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.product-detail {
  margin-left: 20px;
}

.product-detail-title {
  font-weight: 900;
  color: #1f2e55;
}

.product-detail-price {
  color: #717fa6;
}

.product-actions {
  margin-right: 24px;
}

.product-actions a {
  color: #382ae1;
  font-weight: 700;
}

.product-actions a:hover {
  color: #766cf1;
}

.card-footer {
  width: var(--card-content-width);
  margin: 32px auto 0 auto;
}

.pay-button {
  display: block;
  width: 100%;
  height: 50px;
  font-weight: 900;
  font-size: 15px;
  color: #ffffff;
  background-color: #382ae1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border: none;
  border-radius: 11px;
}
.pay-button:hover {
  background: #766cf1;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
}

.cancel-button {
  margin: 32px auto 0 auto;
  font-weight: 900;
  font-size: 15px;
  color: #717fa6;
  background: none;
  border: none;
}

.cancel-button:hover {
  color: #1f2e55;
}

@media screen and (max-width: 375px) {
  :root {
    --card-height: 567px;
    --card-width: 327px;
    --card-content-width: 279px;
  }

  .order-summary-page {
    background-image: url('./images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .title {
    margin-top: 32px;
  }

  .description {
    margin: 16px auto 0 auto;
  }

  .product {
    height: 81px;
    margin: 24px auto 0 auto;
    font-size: 14px;
  }

  .product-detail-container {
    margin-left: 16px;
  }

  .product-actions {
    margin-right: 16px;
    font-size: 13px;
  }

  .card-footer,
  .cancel-button {
    width: var(--card-content-width);
    margin: 24px auto 0 auto;
  }
}
